# Database Settings
MYSQL_ROOT_PASSWORD=5d404f4931b1f6be
MYSQL_DATABASE=my_app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=54a5dd8f3f73167d

# Enable Binary Logs for CDC
MYSQL_LOG_BIN=mysql-bin
MYSQL_BINLOG_FORMAT=ROW
MYSQL_SERVER_ID=1

# Kafka Settings
KAFKA_BROKER=kafka:9092
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0

# Debezium Connect Settings
BOOTSTRAP_SERVERS=kafka:9092
CONFIG_STORAGE_TOPIC=my_connect_configs
OFFSET_STORAGE_TOPIC=my_connect_offsets
STATUS_STORAGE_TOPIC=my_connect_statuses
